<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:image" content="https://mlgc.io/src/img/logo.png" />
    <meta property="og:title" content="Avangers" />

    <title>Avengers</title>

    <link rel="shortcut icon" type="image/png" href="src/img/fav.png">

    <link rel="stylesheet" href="dist/main.css">

    <style>
        [v-cloak] {
            display: none
        }
    </style>


    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());



        gtag('config', 'UA-145602424-1');
    </script>

</head>

<body>


    <div id="app" v-cloak>

        <nav class="core-nav fixed-start py-2">
            <div class="container-fluid">
                <div class="row nav-wrapper">

                    <div class="col-10 col-lg-2 pr-0 d-flex justify-content-center logo-wrapper">
                        <div class="logo-box">
                            <img class="img-fluid up-top" src="src/img/logo.png">
                        </div>
                    </div>

                    <div class="col-2 col-lg-9 pl-0 d-flex justify-content-start align-items-center mobile-nav">
                        <ul class="nav-items d-flex">
                            <li><a class="no-decoration" href="#start"> {{ lang.menuItem1 }} </a></li>
                            <li><a class="no-decoration" href="#whitepaper"> {{ lang.menuItem2 }} </a></li>
                            <li><a class="no-decoration" href="#zespol"> {{ lang.menuItem3 }} </a></li>
                            <li><a class="no-decoration" href="#roadmap"> {{ lang.menuItem4 }} </a></li>
                            <li><a class="no-decoration" href="#token"> {{ lang.menuItem5 }} </a></li>
                            <li><a class="no-decoration" href="#faq"> {{ lang.menuItem6 }} </a></li>
                            <li><a class="no-decoration" href="#kontakt"> {{ lang.menuItem7 }} </a></li>
                            <li><button class="btn menu-btn-mobile">{{ lang.menuBtn1 }}</button></li>
                            <li>
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle lang-choice-mobile" href="https://www.linkedin.com/in/janbanas/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ lang.lang }}</a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <div style="cursor: pointer;" class="dropdown-item" @click="swichLang('en')">EN</div>
                                        <div style="cursor: pointer;" class="dropdown-item" @click="swichLang('pl')">PL</div>
                                        <div style="cursor: pointer;" class="dropdown-item" @click="swichLang('kor')">KR 한국어</div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="nav-hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        <a class="btn menu-btn" href="https://www.linkedin.com/in/janbanas/">{{ lang.menuBtn1 }}</a>

        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle lang-choice" href="https://www.linkedin.com/in/janbanas/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ lang.lang }}</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div style="cursor: pointer;" class="dropdown-item" @click="swichLang('en')">EN</div>
                <div style="cursor: pointer;" class="dropdown-item" @click="swichLang('pl')">PL</div>
                <div style="cursor: pointer;" class="dropdown-item" @click="swichLang('kor')">KR 한국어</div>
            </div>
        </div>

        <header id="start">

            <div class="head-g-bg">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-12 col-lg-5 offset-lg-2 pl-lg-4 pl-md-0">
                            <h1 class="section-title">{{ lang.pageTitle1 }} <span class="d-block f-bold color-br">{{ lang.pageTitle2 }}</span> </h1>
                            <p class="p-font">{{ lang.pageSubtitle }}</p>
                        </div>

                        <div class="col-lg-3 offset-lg-2 head-img-wrapper">
                            <img src="./src/img/head-back1.png" class="head-img">
                        </div>

                    </div>

                </div>

            </div>

        </header>

        <section class="head-f-bg bg-fff">

            <div class="container-fluid">

                <div class="col-12 offset-0 col-lg-5 offset-lg-2 pt-3">

                    <div class="row">

                        <div class="col-12 col-lg-4 pt-2 pr-0 d-flex justify-content-start align-items-start">

                            <p class="sub-title color-red f-bold upper-c">{{ lang.clockStarter }}</p>

                        </div>

                        <div class="col-12 col-lg-8 mr-0 p-0 d-flex justify-content-center align-items-center clock">

                            <div id="counter">
                                <p class="p-font"><span>{{ counter.d }}</span>{{ lang.clockD }}</p>
                                <p class="p-font"><span>{{ counter.h }}</span>{{ lang.clockH }}</p>
                                <p class="p-font"><span>{{ counter.m }}</span>{{ lang.clockMin }}</p>
                                <p class="p-font"><span>{{ counter.s }}</span>{{ lang.clockSec }}</p>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12 pt-4">

                            <div class="progress-wrapper">

                                <div class="row">

                                    <div class="col-12 p-0 m-0 progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:5%; height: 100%; background-color: #d7222b;">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-6 p-0 pr-3 mt-4 d-flex flex-column justify-content-end align-items-end min-limit">
                                        <p class="sm-font f-bold bg-brown upper-c mb-0">{{ lang.minGoal }}</p>
                                        <p class="p-font mb-0">400 000 {{ lang.tokenNumb }}</p>
                                        <span></span>
                                    </div>

                                    <div class="col-6 p-0 pr-2 mt-4 d-flex flex-column justify-content-end align-items-end hard-limit">
                                        <p class="sm-font f-bold bg-red upper-c mb-0">{{ lang.hardCap }}</p>
                                        <p class="p-font mb-0">120 000 000 {{ lang.tokenNumb }}</p>
                                        <span></span>
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-12 pt-4">

                            <div>

                                <div class="row">


                                    <div class="col-12 p-0 m-0 d-flex justify-content-between align-items-center flex-column flex-lg-row">
                                        <p class="p-font pt-3 d-flex justify-content-center align-items-center">
                                            <img class="pt-2" src="src/img/info.png" alt='info'>
                                            <span v-html="lang.platformAv"></span>
                                        </p>
                                        <a class="btn-red upper-c d-flex justify-content-between align-items-center" href="https://platform.mlgc.io/"> <img class="pr-3" src="src/img/lock.png" alt='lock'> {{ lang.btnBuyToken }}</a>
                                        <a target="_blank" href="https://www.linkedin.com/in/janbanas/" class="btn-red upper-c d-flex justify-content-center align-items-center"> <img class="pr-3" src="src/img/pre-sel.png" alt='pre-sel'> {{ lang.btnPreSel }}</a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <div class="mobile-side-img">
            <img class="img-fluid mr-4 left-side-el" src="src/img/left-side-el.png" alt='left-side-el'>
        </div>

        <div class="mobile-side-img">
            <img class="img-fluid mr-4 right-side-el" src="src/img/right-side-el.png" alt='right-side-el'>
        </div>




        <div class="mobile-side-img">
            <img class="img-fluid mr-4 left-side-el-roadmap" src="src/img/left-side-el.png" alt='left-side-el'>
        </div>



        <section id="token" class="bg-grey products">



            <div class="container-fluid" style="position: relative;">



                <div class="row">

                    <div class="col-12 col-lg-3 offset-lg-2 p-4 pr-0 social-wrapper d-flex justify-content-between align-items-center">

                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/linkedin.png" alt='linkedin'></a>
                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/facebook.png" alt='facebook'></a>
                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/twitter.png" alt='twitter'></a>
                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/instagram.png" alt='instagram'></a>
                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/telegram.png" alt='telegram'></a>
                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/reddit.png" alt='reddit'></a>
                        <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/medium.png" alt='medium'></a>


                    </div>

                    <div class="col-12 col-lg-5 p-4 pl-0 d-flex justify-content-start align-items-center flex-column flex-lg-row download-btn-wrapper">
                        <a target="_blank" href="https://www.linkedin.com/in/janbanas/" class="btn upper-c f-bold m-3 d-flex justify-content-between align-items-center">
                            <img class="pr-3 img-n" src="src/img/download.png" alt='download'>
                            <img class="pr-3 img-h" src="src/img/download-fff.png" alt='download-fff'> {{ lang.btnDownloadWhitepaper }}
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/janbanas/" class="btn upper-c f-bold m-3 d-flex justify-content-between align-items-center" style="z-index: 5;">
                            <img class="pr-3 img-n" src="src/img/download.png" alt='download'>
                            <img class="pr-3 img-h" src="src/img/download-fff.png" alt='download-fff'> {{ lang.btnDownloadOnepager }}
                        </a>
                    </div>

                </div>


                <div class="social-btn btn-link no-decoration">

                    <a href="https://www.linkedin.com/in/janbanas/" class="btn-brown upper-c d-flex justify-content-between align-items-center no-decoration">autviaminveniam.com</a>

                </div>

            </div>

            <div class="container" style="position: relative;">
                <div class="row pb-5 ">

                    <div class="col-12 col-lg-6 mt-4 p-4">
                        <div class="d-flex justify-content-start flex-column single-product">
                            <h2 class="color-br f-bold section-title pl-4 mb-0">{{ lang.tokenTitle }}</h2>
                            <button style="" type="button" class="no-btn w-xs-100" data-toggle="modal" data-target="#videoModalToken">
                            <div class="video-box">

                                <picture>
                                    <img class="img-fluid img-radius" src="src/img/video.png" alt="video">
                                </picture>

                            </div>
                        </button>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mt-4 p-2">
                        <div class="d-flex justify-content-center align-items-center flex-column single-product">
                            <a href="https://www.linkedin.com/in/janbanas/"><img class="img-fluid mr-lg-4" src="src/img/hero.png" alt='heros'></a>
                        </div>
                        <div class="col-12 p-0 m-0 d-flex justify-content-between align-items-center flex-column flex-lg-row">
                            <p class="p-font pt-3 d-flex justify-content-center align-items-center">
                                <img class="pt-2" src="src/img/info.png" alt='info'>
                                <span v-html="lang.platformAv"></span>
                            </p>
                            <a class="btn-red upper-c d-flex justify-content-between align-items-center mr-2" href="https://www.linkedin.com/in/janbanas/"> <img class="pr-2" src="src/img/lock.png" alt='lock'><span style="color: #fff !important;"> {{ lang.btnBuyToken }}</span></a>
                            <a target="_blank" href="https://www.linkedin.com/in/janbanas/" class="btn-red upper-c d-flex justify-content-center align-items-center"> <img class="pr-3" src="src/img/pre-sel.png" alt='pre-sel'> {{ lang.btnPreSel }}</a>
                        </div>
                    </div>

                </div>

            </div>

        </section>


        <section id="roadmap" class="road-map-sec">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-lg-12 mt-5 mb-3 d-flex justify-content-center align-items-center">
                        <img class="img-fluid" src="src/img/ico-roadmap.png" alt='ico-roadmap'>
                    </div>

                    <div class="col-lg-12 d-flex justify-content-center align-items-center">
                        <h2 class="section-title color-br">Roadmap</h2>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-12 mt-5 mb-0 d-flex justify-content-center align-items-center map">

                        <div class="map-wrapper active-line">

                            <div class="row no-gutters">

                                <div class="q-wrapper">
                                    <h4 class="upper-c color-br section-title">q1 2019</h4>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item active-line text-left">
                                        <span class="map-ico red-dot">
                                   <img class="map-ico" src="src/img/map-red-dot.png">
                                   </span>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item active-line text-left">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ1Col1 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item active-line text-left">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ1Col2 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item active-line text-left">
                                        <span class="map-ico">
                                        <img class="limeline-ico" src="src/img/map-dot.png">
                                    </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ1Col3 }}</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12 mt-0 mb-0 d-flex justify-content-center align-items-center map">

                        <div class="map-wrapper active-line v2">

                            <div class="row no-gutters">

                                <div class="q-wrapper">
                                    <h4 class="upper-c color-br section-title">q2 2019</h4>
                                </div>

                                <div class="col-lg col-sm-12 order-9 order-lg-1">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col9 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-8 order-lg-1">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col8 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-7 order-lg-2">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col7 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-6 order-lg-3">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col6 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-5 order-lg-4">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col5 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-4 order-lg-5">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col4 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-3 order-lg-6">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col3 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-2 order-lg-7">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col2 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12 order-1 order-lg-8">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ2Col1 }}</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12 mt-0 mb-0 d-flex justify-content-center align-items-center map">

                        <div class="map-wrapper v3">

                            <div class="row no-gutters">

                                <div class="q-wrapper">
                                    <h4 class="upper-c color-br section-title">q3 2019</h4>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ3Col1 }}</p>
                                    </div>
                                </div>


                                <div class="col-lg col-sm-12">
                                    <div class="map-item active-line text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ3Col2 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                        <img class="limeline-ico" src="src/img/map-dot.png">
                                     </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ3Col3 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ3Col4 }}</p>
                                    </div>
                                </div>


                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ3Col5 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                        <img class="limeline-ico" src="src/img/map-dot.png">
                                     </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ3Col6 }}</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-12 mt-0 mb-0 d-flex justify-content-center align-items-center map">

                        <div class="map-wrapper v4">

                            <div class="row no-gutters">

                                <div class="q-wrapper">
                                    <h4 class="upper-c color-br section-title">q4 2019</h4>
                                </div>


                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ4Col4 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                        <img class="limeline-ico" src="src/img/map-dot.png">
                                     </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ4Col3 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ4Col2 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-center">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ4Col1 }}</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="col-lg-12 mt-0 mb-0 d-flex justify-content-center align-items-center map">

                        <div class="map-wrapper v5">

                            <div class="row no-gutters">

                                <div class="q-wrapper">
                                    <h4 class="upper-c color-br section-title">Q1-Q2 2020</h4>
                                </div>


                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-right">
                                        <span class="map-ico">
                                        <img class="limeline-ico" src="src/img/map-dot.png">
                                     </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ5Col1 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg col-sm-12">
                                    <div class="map-item text-right">
                                        <span class="map-ico">
                                       <img class="limeline-ico" src="src/img/map-dot.png">
                                   </span>
                                        <p class="map-title p-font color-light">{{ lang.roadmapQ5Col2 }}</p>
                                    </div>
                                </div>

                                <div class="col-lg text-right">
                                    <div class="map-item text-end no-after">
                                        <span class="map-ico">
                                   <img class="map-ico" src="src/img/map-grey-dot.png">
                                   </span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </section>

        <section id="zespol" class="team bg-grey">

            <div class="container">

                <div class="row mb-2 mt-5">
                    <div class="col-12 text-center">
                        <h2 class="color-br f-bold section-title">{{ lang.team }}</h2>
                    </div>
                </div>

                <div class="row">

                    <div class="col-12 mb-4 text-center">
                        <h2 class="color-br section-title">{{ lang.team1Sector }}</h2>
                    </div>


                    <div class="col-12 pb-4 col-lg-4 p-lg-4">
                        <div class="single-team my-5 px-5 d-flex flex-column justify-content-between align-items-center text-center">
                            <img src="src/img/template.png">
                            <a href="https://pl.linkedin.com/in/janbanas/" target="_blank" class="link-icon"><img src="src/img/linkedin-blue.png" alt="linkedin-ico"></a>
                            <h3 class="color-text f-bold sub-title upper-c" style="margin-top: 175px;">
                                {{ lang.team1Name }}<br> <span class="color-br">{{ lang.team1Surname }}</span>
                            </h3>
                            <h4 class="color-br f-bold m-font upper-c py-3">{{ lang.team1Position }}</h4>
                            <p class="color-text f-bold m-font upper-c">{{ lang.teamMore }}</p>

                            <div class="text-left p-font simplebarTeam" id="simplebarTeam" data-simplebar data-simplebar-auto-hide="false">
                                <p>{{ lang.team1Descritpion }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 pb-4 col-lg-4 p-lg-4">
                        <div class="single-team my-5 px-5 d-flex flex-column justify-content-between align-items-center text-center">
                            <img src="src/img/template.png">
                            <a href="https://pl.linkedin.com/in/janbanas/" target="_blank" class="link-icon"><img src="src/img/linkedin-blue.png" alt="linkedin-ico"></a>
                            <h3 class="color-text f-bold sub-title upper-c" style="margin-top: 175px;">
                                {{ lang.team2Name }}<br> <span class="color-br">{{ lang.team2Surname }}</span>
                            </h3>
                            <h4 class="color-br f-bold m-font upper-c py-3">{{ lang.team2Position }}</h4>
                            <p class="color-text f-bold m-font upper-c">{{ lang.teamMore }}</p>

                            <div class="text-left p-font simplebarTeam" id="simplebarTeam" data-simplebar data-simplebar-auto-hide="false">
                                <p>{{ lang.team2Descritpion }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 pb-4 col-lg-4 p-lg-4">
                        <div class="single-team my-5 px-5 d-flex flex-column justify-content-between align-items-center text-center">
                            <img src="src/img/template.png">
                            <a href="https://pl.linkedin.com/in/janbanas/" target="_blank" class="link-icon"><img src="src/img/linkedin-blue.png" alt="linkedin-ico"></a>
                            <h3 class="color-text f-bold sub-title upper-c" style="margin-top: 175px;">
                                {{ lang.team3Name }}<br> <span class="color-br">{{ lang.team3Surname }}</span>
                            </h3>
                            <h4 class="color-br f-bold m-font upper-c py-3">{{ lang.team3Position }}</h4>
                            <p class="color-text f-bold m-font upper-c">{{ lang.teamMore }}</p>

                            <div class="text-left p-font simplebarTeam" id="simplebarTeam" data-simplebar data-simplebar-auto-hide="false">
                                <p>{{ lang.team3Descritpion }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="road-map-sec products">

            <div class="container">

                <div class="row">

                    <div class="col-12 mt-5 mb-3 text-center">
                        <h2 class="color-br f-bold section-title">{{ lang.products }}</h2>
                    </div>

                </div>

                <div class="row pb-5 ">

                    <div class="col-12 col-lg-4 mt-4 p-4">
                        <div class="bg-fff row d-flex justify-content-start single-product">

                            <div class="product-text d-flex justify-content-between flex-column">
                                <img src="src/img/img-produkty-1.png" class="img-flex" width="100%" alt="prod-1">

                                <div class="p-4">

                                    <h3 class="color-br f-bold sub-title">{{ lang.singleProdTitle1 }}</h3>
                                    <p class="p-font-b" v-html="lang.singleProdDes1"></p>

                                    <div class="d-flex justify-content-end pr-1">
                                        <!-- <a href="https://www.linkedin.com/in/janbanas/" class="f-bold m-font">{{ lang.productLink }} <img class="pl-2" src="src/img/red-arrow.png"></a> -->
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="col-12 col-lg-4 mt-4 p-4">
                        <div class="bg-fff row d-flex justify-content-start single-product">

                            <div class="product-text d-flex justify-content-between flex-column">
                                <img src="src/img/img-produkty-1.png" class="img-flex" width="100%" alt="prod-1">

                                <div class="p-4">

                                    <h3 class="color-br f-bold sub-title">{{ lang.singleProdTitle2 }}</h3>
                                    <p class="p-font-b" v-html="lang.singleProdDes2"></p>

                                    <div class="d-flex justify-content-end pr-1">
                                        <!-- <a href="https://www.linkedin.com/in/janbanas/" class="f-bold m-font">{{ lang.productLink }} <img class="pl-2" src="src/img/red-arrow.png"></a> -->
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="col-12 col-lg-4 mt-4 p-4">
                        <div class="bg-fff row d-flex justify-content-start single-product">

                            <div class="product-text d-flex justify-content-between flex-column">
                                <img src="src/img/img-produkty-1.png" class="img-flex" width="100%" alt="prod-1">

                                <div class="p-4">

                                    <h3 class="color-br f-bold sub-title">{{ lang.singleProdTitle3 }}</h3>
                                    <p class="p-font-b" v-html="lang.singleProdDes3 "></p>

                                    <div class="d-flex justify-content-end pr-1">
                                        <!-- <a href="https://www.linkedin.com/in/janbanas/" class="f-bold m-font">{{ lang.productLink }} <img class="pl-2" src="src/img/red-arrow.png"></a> -->
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                </div>

            </div>

        </section>

        <section id="whitepaper" class="whitepaper bg-grey mt-4">

            <div class="container-fluid">

                <div class="row pb-5">

                    <div class="col-12 col-lg-4 offset-lg-2 p-0 d-flex justify-content-between align-items-center">

                        <button style="" type="button" class="no-btn w-xs-100" data-toggle="modal" data-target="#videoModalWhite">
                    <div class="video-box">

                        <picture>
                            <img class="img-fluid img-radius" src="src/img/video.png" alt="">
                        </picture>

                    </div>
                </button>

                    </div>

                    <div class="col-12 col-lg-4 p-5">

                        <div class="video-wrapper">

                            <h2 class="color-br f-bold section-title">Whitepaper</h2>
                            <p class="p-font">{{ lang.whitepaperText }}</p>
                            <a target="_blank" href="ML_whitepaper_EN.pdf" class="btn upper-c f-bold mt-4">
                                <img class="pr-3 img-n" src="src/img/download.png" alt='download'>
                                <img class="pr-3 img-h" src="src/img/download-fff.png" alt='download-fff'> {{ lang.btnDownloadWhitepaper }}
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </section>


        <section id="faq" class="bg-grey faq mb-5" style="position: relative;">


            <div class="mobile-side-img">
                <img src="src/img/bg-token-l.png" class="img-fluid mr-4 token-left-bg" alt="bg-token-l">
            </div>

            <div class="mobile-side-img">
                <img src="src/img/bg-token-r.png" class="img-fluid mr-4 token-right-bg" alt="bg-token-r">
            </div>

            <div class="container">

                <div class="row">

                    <div class="col-12 mt-5 text-center">
                        <h2 class="color-br f-bold section-title">{{ lang.faqTitle }}</h2>
                    </div>

                </div>

                <div class="row pb-5 ">

                    <div class="col-12 pl-5 pr-5 accordion-wrapper">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn-collaps btn-link w-100 no-btn d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <p class="f-bold m-font mb-0">{{ lang.faqHead1 }}</p>
                                        <img class="show-less d-none" src="src/img/arrow-btn.png">
                                        <img class="show-more" src="src/img/arrow-btn-down.png">
                                    </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body p-font">
                                        {{ lang.faqText1 }}
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn-collaps btn-link w-100 no-btn d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <p class="f-bold m-font mb-0">{{ lang.faqHead2 }}</p>
                                        <img class="show-less d-none" src="src/img/arrow-btn.png">
                                        <img class="show-more" src="src/img/arrow-btn-down.png">
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body p-font">
                                        {{ lang.faqText2 }}
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn-collaps btn-link w-100 no-btn d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <p class="f-bold m-font mb-0">{{ lang.faqHead3 }}</p>
                                        <img class="show-less d-none" src="src/img/arrow-btn.png">
                                        <img class="show-more" src="src/img/arrow-btn-down.png">
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body p-font">
                                        {{ lang.faqText3 }}
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <button class="btn-collaps btn-link w-100 no-btn d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <p class="f-bold m-font mb-0">{{ lang.faqHead4 }}</p>
                                        <img class="show-less d-none" src="src/img/arrow-btn.png">
                                        <img class="show-more" src="src/img/arrow-btn-down.png">
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                    <div class="card-body p-font">
                                        {{ lang.faqText4 }}
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <h5 class="mb-0">
                                        <button class="btn-collaps btn-link w-100 no-btn d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                        <p class="f-bold m-font mb-0">{{ lang.faqHead5 }}</p>
                                        <img class="show-less d-none" src="src/img/arrow-btn.png">
                                        <img class="show-more" src="src/img/arrow-btn-down.png">
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                    <div class="card-body p-font">
                                        {{ lang.faqText5 }}
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingSix">
                                    <h5 class="mb-0">
                                        <button class="btn-collaps btn-link w-100 no-btn d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                        <p class="f-bold m-font mb-0">{{ lang.faqHead6 }}</p>
                                        <img class="show-less d-none" src="src/img/arrow-btn.png">
                                        <img class="show-more" src="src/img/arrow-btn-down.png">
                                    </button>
                                    </h5>
                                </div>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                    <div class="card-body p-font">
                                        {{ lang.faqText6 }}
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </section>

        <section id="kontakt" class="mt-5 mb-5">

            <div class="container">

                <div class="row">
                    <div class="col-12 col-lg-5 mb-4">
                        <h2 class="color-br f-bold section-title">{{ lang.contact }}</h2>
                        <p>{{ lang.contactTitle }}<br> {{ lang.contactSubtitle }}
                        </p>

                        <div class="d-flex justify-content-between align-items-start flex-column">

                            <div class="m-font d-flex justify-content-between align-items-start flex-row">
                                <img src="src/img/tel.png" alt="tel" class="pr-3 pt-1">
                                <p><a href="telto:+48999999999" class="no-decoration"><span class="color-br">+48</span> 999 999 999</a></p>
                            </div>

                            <div class="m-font d-flex justify-content-between align-items-start flex-row">
                                <img src="src/img/mail.png" alt="mail" class="pr-3 pt-1">
                                <p><a href="mailto:test@test.com" class="no-decoration"><span class="color-br">test</span>@test.com </a></p>
                            </div>

                        </div>

                        <div class="mt-5">

                            <p class="m-font"><span class="color-br m-font"></span>
                                <span v-html="lang.companyInfoPart"><span>
                        </p>
                    
                    </div>


                    <a href="http://janekbanas.ct8.pl/practice/"
                        class="upper-c m-font color-br no-decoration">janekbanas.ct8.pl/practice/</a>

                </div>

                <div class="col-12 col-lg-5 offset-lg-2 d-flex justify-content-end">

                    <div class="form-wrapper bg-fff">
                    
                        <form id="contact-form" class="contact-form" action="" role="form" method="post" data-vv-scope="contactForm">

                            <div class="row">
                                <div class="col-12 mb-3 text-center">
                                   
                                    <input class="form-input" type="text" class="form-control" v-bind:placeholder="lang.inputName" name="name" v-model="formData.name" v-validate="'required'"><br>

                                    <span class="error-span" v-for="error in errors.collect('contactForm.name')">{{ lang.inputError }}</span>

                        </div>
                        <div class="col-12 mb-3 text-center">

                            <input class="form-input" type="email" class="form-control" v-bind:placeholder="lang.inputMail" name="email" v-model="formData.email" v-validate="'required'"><br>

                            <span class="error-span" v-for="error in errors.collect('contactForm.email')">{{ lang.inputError }}</span>

                        </div>

                        <div class="col-12 mb-3 text-center">

                            <textarea rows="4" cols="42" class="form-input" type="text" class="form-control" v-bind:placeholder="lang.inputMessage" name="message" v-model="formData.message" v-validate="'required'"></textarea>

                            <span class="error-span" v-for="error in errors.collect('contactForm.message')">{{ lang.inputError }}</span>

                        </div>


                        <div class="form-checkbox col-12 ml-3 mr-5 pb-2 mb-4 d-flex justify-content-center align-items-start " style="border-bottom: 1px dotted #e6e6e6;">

                            <input type="checkbox" class="form-check-input hide-input" name="zgoda1" id="checkbox" @change="selectAll" v-model="formData.zgoda1">

                            <label class="form-check-label hide-lebel p-font" for="checkbox" style="color: #ac8f66; font-weight: 700;">{{ lang.checkboxAll }}</label>

                        </div>
                        <div class="form-checkbox col-12 ml-3 mr-5 pb-0 d-flex justify-content-center align-items-start ">

                            <input type="checkbox" class="form-check-input hide-input" name="zgoda2" id="checkbox1" v-model="formData.zgoda2" v-validate="'required'">
                            <label class="form-check-label hide-lebel p-font" for="checkbox1">
                                        <p>{{ lang.checkboxTitle1 }} <span id="check-more-1">{{ lang.checkboxReadMore }}</span> </p>
                                        <p id="checkbox-text-1" class="less-text">{{ lang.checkboxTextMore1 }} <a href="contact@lorem.com">contact@lorem.com</a>. <span id="check-less-1"> {{ lang.checkboxReadLess }}</span></p>
                                        
                                        <span class="error-span" v-for="error in errors.collect('contactForm.zgoda2')">{{ lang.inputError }}</span>

                                    </label>

                        </div>
                        <div class="form-checkbox col-12 ml-3 mr-5 pb-0 d-flex justify-content-center align-items-start">

                            <input type="checkbox" class="form-check-input hide-input" name="zgoda3" id="checkbox2" v-model="formData.zgoda3" v-validate="'required'">
                            <label class="form-check-label hide-lebel p-font" for="checkbox2">
                                        <p>{{ lang.checkboxTitle2 }}  <span id="check-more-2">{{ lang.checkboxReadMore }}</span> </p>
                                        <p id="checkbox-text-2" class="less-text">{{ lang.checkboxTextMore2 }} <a href="contact@lorem.com">contact@lorem.com</a>. <span id="check-less-2"> {{ lang.checkboxReadLess }}</span></p>
                                        
                                        <span class="error-span" v-for="error in errors.collect('contactForm.zgoda3')">{{ lang.inputError }}</span>

                                    </label>

                            <p class="color-red m-font f-bold d-none" id="correct">{{ lang.correct }}</p>
                            <p class="color-red m-font f-bold d-none" id="wrong">{{ lang.wrong }}</p>

                        </div>

                        <div class="col-12 mt-5 text-center">
                            <button type="button" @click="formSend" class="submit-btn btn-red-submit formSend">{{ lang.btnSend }}  <img class="pl-3" src="src/img/submit-arrow.png" alt='submit-arrow'> </button>
                        </div>
                    </div>

                    </form>

                </div>
            </div>

    </div>

    </div>

    </section>

    <section class="newsletter bg-newsletter pt-4 pb-4">

        <div class="container">

            <form id="newsletter-form" class="newsletter-form" action="" role="form" method="post" data-vv-scope="newsletterForm">

                <div class="row">


                    <div class="col-12 col-lg-2 p-0">

                        <p class="m-font">
                            <span class="p-font f-bold color-br upper-c">{{ lang.newsletterTitle }} </span><br> {{ lang.newsletterSubtitle }}
                        </p>

                    </div>

                    <div class="col-12 col-lg-4 p-0 text-center">

                        <input class="form-input input-newsletter" type="email" class="form-control" style="width: 100%;" v-bind:placeholder="lang.inputMail" name="newsEmail" v-model="newsData.newsEmail" v-validate="'required'">

                        <button type="button" @click="newsSend" class="newsletterSend"><img src="./src/img/arrow-sub.png" class="arrow-sub"></button>


                        <span class="error-span" v-for="error in errors.collect('newsletterForm.newsEmail')">{{ lang.inputError }}</span>

                        <p class="mt-2 color-br m-font f-bold d-none" id="newsCorrect">Zapisałeś się do newslettera!</p>
                        <p class="color-red m-font f-bold d-none" id="newsWrong">Coś poszło nie tak.</p>

                    </div>

                    <div class="col-12 col-lg-6 p-0 form-checkbox d-flex justify-content-center align-items-start">

                        <input type="checkbox" class="form-check-input check-newsletter" name="newsZgoda" id="newsZgoda" v-model="newsData.newsZgoda" v-validate="'required'">
                        <label class="form-check-label p-font" for="newsZgoda">
                        <p style="line-height: 1.3;">{{ lang.newsletterCheckbox }} </p>


                        <span class="error-span" v-for="error in errors.collect('newsletterForm.newsZgoda')">{{ lang.inputError }}</span>

                        </label>



                    </div>

                </div>

            </form>

        </div>

    </section>


    <footer class="bg-footer">

        <div class="container">

            <div class="row">


                <div class="col-12 col-lg-7 d-flex justify-content-between align-items-center mt-4 mb-4">

                    <a href="https://www.linkedin.com/in/janbanas/" class="mr-5"><img src="src/img/logo.png " alt="f-logo"></a>

                </div>


                <div class="col-12 col-lg-5 d-flex justify-content-between align-items-center mt-4 mb-4">
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/linkedin.png" alt='linkedin'></a>
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/facebook.png" alt='facebook'></a>
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/twitter.png" alt='twitter'></a>
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/instagram.png" alt='instagram'></a>
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/telegram.png" alt='telegram'></a>
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/reddit.png" alt='reddit'></a>
                    <a href="https://www.linkedin.com/in/janbanas/" target="_blank"><img class="img-fluid mr-4" src="src/img/medium.png" alt='medium'></a>

                </div>

            </div>

        </div>

    </footer>


    </div>

    <div class="modal fade modal-video" id="videoModalWhite" tabindex="-1" role="dialog" aria-labelledby="videoModalWhite" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-form" id="videoIframeHome">

                <iframe width="680" height="420" src="https://www.youtube.com/embed/eOrNdBpGMv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
    </div>

    <div class="modal fade modal-video" id="videoModalToken" tabindex="-1" role="dialog" aria-labelledby="videoModalToken" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-form">

                <iframe width="680" height="420" src="https://www.youtube.com/embed/eOrNdBpGMv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
    </div>

    <script src="dist/boundle.js?13412"></script>

</body>

</html>