.btn {
    border: 1px solid $color-brown;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    .img-h {
        display: none;
        opacity: 0;
    }
    &:hover {
        border: 1px solid $color-brown;
        background-color: $color-brown;
        color: #fff;
        .img-n {
            display: none;
            opacity: 0;
        }
        .img-h {
            display: inherit;
            opacity: 1;
        }
    }
}

.no-btn {
    border: none;
    background-color: transparent;
    outline: none;
}

.btn-red {
    border: 1px solid $color-red;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: $color-red;
    color: #fff;
    font-weight: 700;
    width: 165px;
    text-decoration: none;
    &:hover {
        border: 1px solid $color-red;
        background-color: red;
        color: #fff;
        text-decoration: none;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.btn-red-submit {
    border: 1px solid $color-red;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: $color-red;
    color: #fff;
    font-weight: 700;
    width: 150px;
    &:hover {
        border: 1px solid $color-red;
        background-color: red;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.bigger {
    .btn-red {
        width: 204px !important;
    }
}

.btn-brown {
    border: 1px solid $color-brown;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: $color-brown;
    color: #fff;
    &:hover {
        border: 2px solid $color-brown;
        background-color: #fff;
        color: $color-brown;
    }
}

.btn.menu-btn {
    position: fixed;
    z-index: 9;
    right: 203px;
    top: 30px;
    color: #fff;
    background-color: $color-brown;
    &:hover {
        background-color: $color-brown;
    }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.btn.menu-btn-mobile {
    display: none;
    @media screen and (max-width: 992px) {
        display: block;
    }
}

.lang-choice {
    border: 1px solid #ac8f66;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    text-transform: uppercase;
    font-size: 13px;
    position: fixed;
    z-index: 9;
    right: 91px;
    top: 30px;
    height: 42px;
    padding-left: 34px;
    color: #fff;
    width: 95px;
    background-color: $color-brown;
    &:hover {
        background-color: $color-brown;
    }
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.lang-choice-mobile {
    display: none;
    @media screen and (max-width: 992px) {
        display: block;
    }
}

.btn-link {
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.btn-fix {
    background-color: $color-brown !important;
    &:hover {
        color: #fff !important;
    }
}

.newsletterSend {
    position: absolute;
    background: none;
    border: none;
    top: 7px;
    right: 12px;
}