header{

	position: relative;

	.head-img{
	    position: absolute;
	    right: 0;
	    top: -110px;
	    z-index: 4;
	    width: 190%;
	    pointer-events: none
	}
	
	.head-g-bg{
		background-color: #f7f7f7;
		padding: 110px 0 10px;
	}

	.head-f-bg{
		background-color: #fff;
	}
}

.head-txt{
	margin-top: 150px;
}

.head-bg{
	width: 500px;
	height: 700px;
	background-image: url('../src/img/head-back.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	z-index: 4;
}