$mobile-breakpoint: 768px;
$hamburger-size: 35px;
.up-top {
    cursor: pointer;
}

.fixed {
    z-index: 9 !important;
}

.core-nav {
    width: 100%;
    background: #f7f7f7;
    height: 6em;
    position: fixed;
    z-index: 3;
    @media(max-width: $mobile-breakpoint) {
        width: 100%;
        background: #f7f7f7;
        height: 15%;
        position: fixed;
        z-index: 99;
    }
    .nav-wrapper {
        padding: 20px 0 20px 5px;
        position: relative;
        @media(max-width: $mobile-breakpoint) {
            padding: 20px 0 5px 5px;
        }
    }
    .nav-items {
        padding: 0;
        margin: 0;
        list-style: none;
        @media(max-width: $mobile-breakpoint) {
            width: 100%;
            display: block !important;
            margin: 0;
            background-color: #fff;
            position: fixed;
            height: 100%;
            padding: 40px;
            top: 90px;
            left: 0;
            transform: translateX(-200%);
            transition: .8s transform;
        }
        li {
            display: flex;
            margin: 0 20px;
            color: $color-text;
            cursor: pointer;
            font-size: 15px;
            position: relative;
            padding-bottom: 7px;
            @media(max-width: $mobile-breakpoint) {
                justify-content: center;
                margin: 20px 0;
            }
            &:hover {
                border-bottom: 2px solid $color-red;
                padding-bottom: 7px;
            }
        }
    }
    .nav-hamburger {
        display: none;
        cursor: pointer;
        width: $hamburger-size;
        @media(max-width: $mobile-breakpoint) {
            display: block;
        }
        span {
            display: block;
            height: 2px;
            position: relative;
            width: 100%;
            &:after {
                content: '';
                height: 2px;
                background: $color-red;
                display: block;
                position: absolute;
                right: 0;
                transition: all .3s ease;
            }
        }
        span:nth-child(2) {
            margin: 9px 0;
        }
        span:nth-child(1):after {
            width: $hamburger-size - 5px;
        }
        span:nth-child(2):after {
            width: $hamburger-size;
        }
        span:nth-child(3):after {
            width: $hamburger-size - 15px;
        }
        &:hover {
            span:after {
                width: $hamburger-size;
            }
        }
        &.open {
            span:after {
                width: 35px;
                background: red;
            }
            span:nth-child(1):after {
                transform: translateY(11px) rotateZ(45deg);
            }
            span:nth-child(2):after {
                width: 0;
                transform: translateX( - (35px / 2));
            }
            span:nth-child(3):after {
                transform: translateY(-11px) rotateZ(-45deg);
            }
        }
    }
}

@keyframes ghost {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.menu-open {
    .nav-items {
        transform: translateY(0) !important;
        transition: .5s transform;
        animation: ghost 1s forwards;
    }
}

.logo-wrapper {
    @media screen and (max-width: 992px) {
        justify-content: start !important;
    }
}

.mobile-nav {
    @media screen and (max-width: 992px) {
        align-items: center !important;
    }
}

.core-nav.fixed {
    .btn.menu-btn {
        position: fixed;
        z-index: 9;
        right: 203px;
        top: 30px;
        color: $color-brown;
        &:hover {
            background-color: #fff;
        }
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}