// Section Clock
.modal-dialog {
    max-width: 680px;
}

.head-img-wrapper {
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.clock {
    #counter {
        p {
            text-align: center;
            float: left;
            color: $color-light;
            span {
                display: block;
                border: 1px solid #f5f5f5;
                border-radius: 5px;
                margin: 0 10px 0;
                min-width: 63px;
                min-height: 35px;
                color: #3c3c3b;
                font-weight: 700;
                font-size: 30px;
            }
        }
    }
}

.progress-wrapper {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 30px 38px 5px;
    -webkit-box-shadow: 0px 9px 29px 19px rgba(235, 240, 242, 1);
    -moz-box-shadow: 0px 9px 29px 19px rgba(235, 240, 242, 1);
    box-shadow: 0px 9px 29px 19px rgba(235, 240, 242, 1);
    .progress {
        height: 10px;
        border-radius: 10px;
        background-color: #f5f5f5;
    }
    .min-limit {
        position: relative;
        span {
            content: '';
            width: 1px;
            height: 195%;
            position: absolute;
            top: -36px;
            right: -2px;
            border: 0.2px solid #bdbdbd;
            &:after {
                content: '';
                width: 13px;
                height: 50%;
                position: absolute;
                top: -20px;
                right: -7px;
                background-image: url(../src/img/min-limit.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .hard-limit {
        position: relative;
        span {
            content: '';
            width: 1px;
            height: 195%;
            position: absolute;
            top: -36px;
            right: -1px;
            border: 0.2px solid #bdbdbd;
            &:after {
                content: '';
                width: 13px;
                height: 50%;
                position: absolute;
                top: -21px;
                right: -7px;
                background-image: url(../src/img/hard-limit.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

// Section Whitepaper
.whitepaper {
    position: relative;
    background-image: url(../src/img/red-shade.png);
    background-size: 38% 83%;
    background-repeat: no-repeat;
    background-position: 113% 374%;
}

.mobile-side-img {
    @media screen and (max-width: 992px) {
        display: none;
    }
}

.download-btn-wrapper {
    @media screen and (max-width: 992px) {
        padding: 0px !important;
        a {
            margin: 10px !important;
            width: 60%;
        }
    }
}

.mobile-d-none {
    @media only screen and (max-width: 768px) {
        display: none !important;
    }
}

// Section Raodmap
// roadmap.scss
// Section Team
.team {
    .single-team {
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        -webkit-box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
        -moz-box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
        box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
        @media only screen and (min-width: 900px) {
            min-height: 360px;
        }
        img {
            position: absolute;
            top: -80px;
        }
        .link-icon {
            position: absolute;
            top: 100px;
            left: -40px;
            z-index: 5;
            @media screen and (max-width: 992px) {
                left: -25px;
            }
        }
        #simplebarTeam {
            position: absolute;
            background-color: #ffffffed;
            height: 130%;
            width: 100%;
            padding: 25px 35px 35px 25px;
            top: -90px;
            border-radius: 10px;
            opacity: 0;
            transition: all .2s ease-in-out;
            p {
                @media screen and (max-width: 992px) {
                    padding: 1px 0 0 19px;
                }
            }
        }
        &:hover #simplebarTeam {
            opacity: 1;
            transition: all .2s ease-in-out;
        }
        .simplebar-track {
            .simplebar-scrollbar {
                background: #b89064;
                height: 8px;
                border-radius: 10px;
                position: relative;
                &:before {
                    background: #b89064;
                }
            }
            &:before {
                background: #c9c9c9;
                position: absolute;
                content: '';
                top: 5px;
                left: 1px;
                width: 2px;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
}

.token-left-bg {
    position: absolute;
    width: 24%;
    z-index: 2;
    top: -50px;
    left: -164px;
}

.token-right-bg {
    position: absolute;
    top: -47px;
    right: -21px;
    width: 20%;
}

// Section Products
.products {
    position: relative;
    .social-btn {
        position: absolute;
        top: 40px;
        right: 82px;
        z-index: 5;
        a {
            text-decoration: none;
        }
    }
    .product-text {
        h3 {
            min-height: 50px;
        }
        p {
            min-height: 341px;
        }
    }
    .single-product {
        border-radius: 10px;
        a {
            text-decoration: none;
            &:hover {
                color: #991f2a;
            }
        }
    }
}

.bigger {
    .product-text {
        p {
            min-height: 409px;
        }
    }
}

.bigger-chin {
    .product-text {
        p {
            min-height: 262px;
        }
    }
}

.bigger-kor {
    .product-text {
        p {
            min-height: 300px;
        }
    }
}

// Section FAQ
.faq {
    .accordion-wrapper {
        @media(max-width: $mobile-breakpoint) {
            padding: 0 !important;
        }
    }
    #accordion {
        border-radius: 10px;
        -webkit-box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
        -moz-box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
        box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
        .btn-link {
            outline: none;
            &:hover {
                text-decoration: none;
            }
        }
        .card {
            background-color: #fff !important;
            border: none;
            border-bottom: 1px solid #e6e6e6;
            .card-header {
                background-color: #fff !important;
                border: none;
            }
            .card-body {
                background-color: #f7f7f7 !important;
                border-left: 1.5px solid $color-brown;
            }
        }
    }
}

// Section Contact
.form-wrapper {
    position: relative;
    background: #fff !important;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
    -moz-box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
    box-shadow: 1px 3px 19px 4px rgba(226, 230, 233, 1);
}

.contact-form {
    width: 100%;
    padding: 50px 10px 0;
}

.form-input {
    width: 85%;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
    border: 1px solid $color-light;
    border-radius: 10px;
    color: #979797;
    outline-color: #ac8f66;
    outline-radius: &::placeholder {
        color: #979797;
    }
}

#inputState {
    width: 85%;
    padding: 6px;
    border: 2px solid #ac8f66;
    height: 51px;
    border-radius: 0px;
}

.form-control {
    color: #979797;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"] {
    @extend .visuallyhidden;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    &:before {
        position: absolute;
        top: 4px;
        left: -8px;
        content: " ";
        display: block;
        width: 18px;
        height: 18px;
        background: transparent;
        border: 2px solid #e6e6e6;
        border-radius: 4px;
    }
}

input[type="checkbox"]:checked+label {
    &:before {
        background-image: url('../src/img/cheked.png');
        border: 1px solid #e6e6e6;
        background-size: contain;
        background-position: center;
    }
}

.form-check-label {
    color: #fff;
    cursor: pointer;
    width: 80%;
    a {
        font-weight: 700;
    }
    span {
        color: #ac8f66;
    }
    .more-text {
        display: block;
    }
    .less-text {
        display: none;
    }
}

.submit-btn {
    position: absolute;
    top: -17px;
    left: 165px;
    @media only screen and (max-width: 768px) {
        left: 109px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 104%;
        height: 116%;
        top: -4px;
        left: -4px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 7px;
        height: 9px;
    }
}

.error {
    display: none;
    color: red;
}

.invalid .error {
    display: block;
}

.form-checkbox {
    .error {
        font-size: 13px;
        padding-left: 25px;
    }
}

// Section Newsletter
.newsletter {
    @media only screen and (max-width: 768px) {
        text-align: center;
    }
    .form-input {
        @media only screen and (max-width: 768px) {
            width: 90% !important;
            margin-bottom: 15px;
        }
    }
}