// Section Raodmap

.map{
    @media only screen and (max-width: 768px){
        justify-content: start !important;
        align-items: start !important;
    }
}

.road-map-sec{
    background-image: url(../src/img/bg-roadmap.png);
    background-size: cover;
    background-repeat: no-repeat;


    .map-wrapper{
        position: relative;

        &:after{
            right: -23px;
            border-radius: 0 20px 20px 0;
            position: absolute;
            top: 12px;
            width: 15px;
            height: calc(100% + 2px);
            content: '';
            border: 2px solid #4b6775;
            border-left: none !important;

            @media only screen and (max-width: 768px){
                display: none;
            }   
        }

        .q-wrapper{
            position: absolute;
            top: -35px;
            left: 27px;
            right: 0;

            @media only screen and (max-width: 768px){
                top: 73px;
                left: 30px;
            } 
        }

        .map-item{
            position: relative;
            width: 282px;
            height: 200px;

            @media only screen and (max-width: 768px){
                text-align: left;
                position: relative;
                height: 150px;
                width: 250px;
                padding-left: 8px !important;
            } 

            &:after{
                position: absolute;
                top: 12px;
                width: 100%;
                height: 2px;
                content: '';
                background: #4b6775;

                @media only screen and (max-width: 768px){
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: 1%;
                    height: 204px;
                    content: '';
                    background: #4b6775;
                } 
            }

            .red-dot{     

                @media only screen and (max-width: 768px){
                    position: absolute !important;
                    left: 0;     
                } 
            }

            .map-title{
                position: absolute;
                text-align: center;
                left: -110px;
                width: 80%;

                @media only screen and (max-width: 768px){
                    text-align: left;
                    left: 20px;
                    width: 100%;
                    top: 4px;
                    left: 35px;
                } 
            }
        
            .map-ico{
                position: relative;
                z-index: 3;
            }    
        }
    }

    .map-wrapper.active-line{
        position: relative;

        &:after{
            border: 2px solid #861c26;
        }
    }

    .map-item.active-line{

        &:after{
            background: #861c26 !important;
        }
    }

    .map-wrapper.v2{
        position: relative;

        &:after{
            left: -9px;
            border-radius: 30px 0 0 20px;
            position: absolute;
            top: 12px;
            width: 15px;
            height: calc(100% + 2px);
            content: '';
            border: 2px solid #861c26;
            border-right: none !important;
            border-left: 2px solid #861c26 !important;

            @media only screen and (max-width: 768px){
                display: none;
            }    
        }

        .q-wrapper{
            position: absolute;
            top: -43px;
            left: 86%;
            width: 150px;

            @media only screen and (max-width: 768px){
                top: 73px;
                left: 30px;
            }    
        }

        .map-item{
            position: relative;
            width: 125px;
            height: 200px;
            
            @media only screen and (max-width: 768px){
                text-align: left !important;
                position: relative;
                height: 150px;
                width: 250px;
                padding-left: 8px !important;
            } 

            &:after{
                position: absolute;
                top: 12px;
                left: 4px;
                width: 106%;
                height: 2px;
                content: '';
                background: #4b6775;

                @media only screen and (max-width: 768px){
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: 1%;
                    height: 204px;
                    content: '';
                    background: #4b6775;
                } 
            }

            .map-title{
                position: absolute;
                text-align: center;
                left: 5px;
                width: 95%;           

                @media only screen and (max-width: 768px){
                    text-align: left;
                    left: 20px;
                    width: 100%;
                    top: 4px;
                    left: 35px;
                }  
            }   
        }
    }

    .map-wrapper.v3{
        position: relative;

        &:after{
            right: -23px;
            border-radius: 0 20px 20px 0;
            position: absolute;
            top: 12px;
            width: 15px;
            height: calc(100% + 2px);
            content: '';
            border: 2px solid #4b6775;
            border-left: none !important;

            @media only screen and (max-width: 768px){
                display: none;
            }   
        }

        .q-wrapper{
            position: absolute;
            top: -45px;
            left: 25px;


            @media only screen and (max-width: 768px){
                top: 73px;
                left: 30px;
            } 
        }


        .map-item{
            position: relative;
            width: 190px;
            height: 200px;
            
            @media only screen and (max-width: 768px){
                text-align: left !important;
                position: relative;
                height: 150px;
                width: 250px;
                padding-left: 8px !important;
            } 

            &:after{
                position: absolute;
                top: 12px;
                left: 10px;
                width: 100%;
                height: 2px;
                content: '';
                background: #4b6775;

                @media only screen and (max-width: 768px){
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: 1%;
                    height: 204px;
                    content: '';
                    background: #4b6775;
                } 
            }

            .map-title{
                position: absolute;
                text-align: center;
                left: 0;
                width: 100%;


                @media only screen and (max-width: 768px){
                    text-align: left !important;
                    left: 20px;
                    width: 100%;
                    top: 4px;
                    left: 35px;
                } 
            }
        
            .map-ico{
                position: relative;
                z-index: 3;
            }    
        }
    }

    .map-wrapper.v4{
        position: relative;

        &:after{
            left: -170px;
            border-radius: 30px 0 0 20px;
            position: absolute;
            top: 12px;
            width: 15px;
            height: calc(100% + 2px);
            content: '';
            border: 2px solid #4b6775;
            border-right: none !important;
            border-left: 2px solid #4b6775 !important;

            @media only screen and (max-width: 768px){
                display: none;
            }   
        }

        .q-wrapper{
            position: absolute;
            top: -44px;
            left: 101%;
            width: 150px;

            @media only screen and (max-width: 768px){
                top: 73px;
                left: 30px;
            } 
        }

        .map-item{
            position: relative;
            width: 200px;
            height: 200px;
            
            @media only screen and (max-width: 768px){
                text-align: left !important;
                position: relative;
                height: 150px;
                width: 250px;
                padding-left: 8px !important;
            } 

            &:after{
                position: absolute;
                top: 12px;
                left: -155px;
                width: 268%;
                height: 2px;
                content: '';
                background: #4b6775;

                @media only screen and (max-width: 768px){
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: 1%;
                    height: 204px;
                    content: '';
                    background: #4b6775;
                } 
            }

            .map-title{
                position: absolute;
                text-align: center;
                left: 20px;
                width: 80%;

                @media only screen and (max-width: 768px){
                    text-align: left;
                    left: 20px;
                    width: 100%;
                    top: 4px;
                    left: 35px;
                } 
            }
        }
    }


    .map-wrapper.v5{
        position: relative;

        &:after{
            content: '';
            border: none !important;

            @media only screen and (max-width: 768px){
                display: none;
            }   
        }

        .q-wrapper{
            position: absolute;
            top: -46px;
            left: 57px;
            width: 80%;

            @media only screen and (max-width: 768px){
                top: 73px;
                left: 30px;
            } 
        }

        .map-item{
            position: relative;
            width: 400px;
            height: 200px;
            
            @media only screen and (max-width: 768px){
                text-align: left !important;
                position: relative;
                height: 150px;
                width: 250px;
                padding-left: 8px !important;
            } 

            &:after{
                position: absolute;
                top: 12px;
                left: 45px;
                width: 102%;
                height: 2px;
                content: '';
                background: #4b6775;

                @media only screen and (max-width: 768px){
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    width: 1%;
                    height: 204px;
                    content: '';
                    background: #4b6775;
                } 
            }

            .map-title{
                position: absolute;
                text-align: center;
                left: 235px;
                width: 85%;


                @media only screen and (max-width: 768px){
                    text-align: left;
                    left: 20px;
                    width: 100%;
                    top: 4px;
                    left: 35px;
                } 
            }
        
            .map-ico{
                position: relative;
                z-index: 3;
            }    
        }

        .no-after{

            .map-ico{

                @media only screen and (max-width: 768px){
                    position: absolute !important;
                    left: 0;
                    top: 20px;
                }
            }

            &:after{
                position: absolute;
                top: 12px;
                left: 1px;
                width: 94%;
                height: 2px;
                content: '';
                background: #4b6775;

                @media only screen and (max-width: 768px){
                    display: none;
                } 
            }
        }
    }
}
