body{
	background-color: #f7f7f7;
}

body *{
	font-family: 'Roboto', sans-serif;
	color: $color-text;
}

.d-block{
	display: block;
}

.d-none{
	display: none;
}

.bg-red{
	color: $color-red;
}

.background-red{
	background-color: $color-red;
}

.bg-brown{
	color: $color-brown;
}

.bg-grey{
	background-color: #f7f7f7;
}

.bg-footer{
	background-color: #0f1e29;
}

.bg-fff{
	background-color: #fff;
}

.bg-newsletter{
	background-color: #f0f0f0;
}

.color-text{
	color: $color-text;
}

.color-fff{
	color: #fff;
}

.color-light{
	color: #c0c9ce;
}

.color-red{
	color: $color-red;
}

.color-br{
	color: $color-brown;
}

.section-title{
	font-size: 36px;
	margin-bottom: 25px;
}

.sub-title{
	font-size: 20px;
}

.media-title{
	font-size: 18px;
}

.p-font{
	font-size: 12px;
	line-height: 1.8;
}

.p-font-b{
	font-size: 13px;
	line-height: 1.8;
}

.m-font{
	font-size: 15px;
}

.sm-font{
	font-size: 9px;
}

.f-bold{
	font-weight: 700;
}

.upper-c{
	text-transform: uppercase;
}

.left-side-el{
    position: absolute;
    width: 18%;
    z-index: 2;
    height: 76%;
    top: 391px;
}

.left-side-el-roadmap{
    position: absolute;
    width: 18%;
    z-index: 2;
    height: 75%;
    top: 257%;
}

.right-side-el{
    position: absolute;
    width: 18%;
    z-index: 2;
    height: 76%;
    top: 729px;
    right: -24px;
}

.no-decoration{
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: #d7222b;
	}
}

li .no-decoration{
	text-decoration: none;

	&:hover{
		text-decoration: none;
		color: $color-text;
	}
}

.error-span{
	color: #d7222b !important;
    font-weight: 700;
    display: block;
    margin: 0 0 16px 0;
}

.popUpWrapper{
	margin: 245px;
	padding: 20px 15px;
	border-radius: 10px;	
	
	@media screen and (max-width: 992px) {
		margin: 5px;
		padding: 5px;
	}	

	#closePopUp{
		width: 7%;
	
		@media screen and (max-width: 992px) {
			width: auto;
		}
	}
}

.popup-center-elem{
	@media screen and (max-width: 992px) {
		text-align:  center !important;
		margin: 0 auto !important;
		display: block !important;
	}

}

.d-none {
    display: none !important;
}